
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1 style='color:#006bb3'>Project List</h1>
<div class='row'>
<div class='col-sm-6'>
<input type='text' ng-model='query' class='form-control' placeholder='search'/>
</div>


<div class='col-sm-6'>
<select ng-model='order' class='form-control' >
	<option value='-publish'>Recent</option>
	<option value='publish'>Older</option>
	<option value='title'>A-Z</option>
	<option value='-title'>Z-A</option>
</select>
</div>
<div ng-show = 'query.length >0'><br><br></div>
</div>
	<dir-pagination-controls ng-hide='query.length>0' ></dir-pagination-controls>
</div>
<uib-accordion close-others="oneAtATime">
<div class='col-sm-6 col-sm-offset-3' dir-paginate='post in items | orderBy: order | filter: query | itemsPerPage: 8' >

	<!-- <div class="thumbnail" > -->
	     	 <!-- <a ng-href='/blog/{{ post.slug }}' ng-if='post.image'/><img class='img-responsive' ng-src="{{ post.image }}"  alt="..."></a> -->
	      		<!-- <div class="caption"> -->
	        	<!-- <h3><a  ng-href='/blog/{{ post.slug }}'/>{{ post.title }}</a></h3> -->
	        		<!-- <p>{{ post.user.username }}</p>
	        		<p>{{ post.publish }}</p>


 -->				<!-- <span ng-show = 'postItems.length == 0'><hr/><h3>No Post Found</h3></span>
 					
    				<div  uib-accordion-group class="panel-default" heading="{{ post.title }}" >
    					
    					<span ng-if='post.image'>
							<a ng-href='/blog/{{ post.slug }}'><img ng-src='{{ post.image }}' height='100px' > <br/></a>
						 </span>
    					 <p style='white-space:pre-wrap'>{{ post.content | limitTo:150 }}<span ng-if='post.content.length >150' >...</span></p>
     					 <p>{{ post.user.username }}</p>
     					 <p>{{ post.publish }}</p>
     				
					    <a class="btn btn-primary" ng-href='/blog/{{ post.slug }}' >view</a>

					
					    <a href='#' confirm-click='Are you sure to delete it?' confirmed-click='deletePost(post)' ><span ng-show='post.user.username == currentUser'><button class='btn btn-default'>delete</button></span></a>

   					</div>
  				

	</div>  
</uib-accordion> -->

	            <div  class="panel panel-info" > 
                <div  class="panel-heading clickable">
                    <h3 class="panel-title">
                        {{ post.title }}<h5>{{post.user.username}}  {{post.publish}}</h5></h3>
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                </div>
                <div class="panel-body collapse ">
                    <span ng-if='post.image'>
							<a ng-href='/blog/{{ post.slug }}'><img ng-src='{{ post.image }}' height='100px' > <br/></a>
						 </span>
    					 <p style='white-space:pre-wrap'>{{ post.content | limitTo:150 }}<span ng-if='post.content.length >150' >...</span></p>
     					 <!-- <p>{{ post.user.username }}</p>
     					 <p>{{ post.publish }}</p> -->
     				
					    <a class="btn btn-primary" ng-href='/blog/{{ post.slug }}' >view</a>

					
					    <a href='#' confirm-click='Are you sure to delete it?' confirmed-click='deletePost(post)' ><span ng-show='post.user.username == currentUser'><button class='btn btn-default'>delete</button></span></a>
                        
                </div>
            </div>


		<div class='col-sm-6 col-sm-offset-3'>
	   		<span ng-if='postItems.length == 0'><hr/><h3>No Post Found</h3></span>
	     </div>
	    <!-- <span ng-if='items.length == 0'>Posts coming soon</span> -->
</div>

<div class='col-sm-6 col-sm-offset-3'>

<dir-pagination-controls ng-hide='query.length>0' ></dir-pagination-controls>


</div>

